<h2>Show Access key</h2>

<ul>

  <li>
    <strong>Access key:</strong>
    <%= @access_key.access_key %>
  </li>

</ul>

<span><%= link "Edit", to: access_key_path(@conn, :edit, @access_key) %></span>
<span><%= link "Back", to: access_key_path(@conn, :index) %></span>
